/* Global CSS */

@import './global.css';

/* Fonts & Text */

@import url('https: //fonts.googleapis.com/css?family=Urbanist:ExtraLight,ExtralightItalic,Light,LightItalic,Regular,Italic,Medium,Semibold,Bold');

/* Overall */

body {
  background-color: var(--jc-black);
}




/* .page-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}

.page-enter.page-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.page-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.page-exit.page-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
} */