/* Global CSS */

@import './global.css';

/* Fonts & Text */

@import url('https: //fonts.googleapis.com/css?family=Urbanist:ExtraLight,ExtralightItalic,Light,LightItalic,Regular,Italic,Medium,Semibold,Bold');

/* Overall */

body {
  background-color: var(--jc-black);
  cursor: none;
}

a {
  cursor: none;
}