.Button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 10px;
    padding: 12px 19px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF9900;
    color: #FFFFFF;
    margin-top: 20px;
    text-decoration: none;
    line-height: 1;
}
