.CarouselContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 112px;
  height: auto;
  width: 100%;
}

.CarouselText {
  text-align: left;
  padding-top: 96px;
}

.CarouselImage {
  grid-column-start: 7;
  grid-column-end: 13;
  width: 100%;
}

.Image {
  width: 100%;
  box-shadow: 10px 10px 50px 20px #00000010;
}

.CarouselTabs {
  position: absolute;
  top: 30%;
  right: 40px;
}

.CarouselTab {
  display: flex;
  align-items: center;
  gap: 15px;
}

.CarouselTab:hover {
  cursor:pointer
}

.CarouselTabText {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
}

.CarouselTabText p {
  color: #C4C4C4;
}

.CarouselTab.Active .CarouselTabText p {
  color: #000000;
}

.CarouselTabUI {
  background-color: #C4C4C4;
  border-radius: 3px;
  display: flex;
  height: 3px;
  width: 3px;
  overflow: hidden;
}

.CarouselTab.Active .CarouselTabUI {
  height: 20px;
}

.CarouselTabUIFill {
  display: block;
  background-color: #FF9900;
  border-radius: 3px;
  height: 0;
  width: 100%;
}

.CarouselTab.Active .CarouselTabUIFill {
  animation: fillProgress;
  animation-timing-function: linear;
}

@keyframes fillProgress {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}