.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.content-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.content-section-text {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-next {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}



.content-media-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-media-node {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-media-full {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.content-media-description {
    text-align: center;
}