.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.content-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.content-section-text {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-media-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-media-node {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-media-full {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.content-media-devices {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.content-media-devices-desktop {
    width: 75%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 45/32;
}

.content-media-devices-mobile {
    width: 25%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 9/16;
}

.content-media-description {
    text-align: center;
}

.content-results {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: var(--jc-ui-border)
}

.content-result {
    width: 50%;
}

.content-result-stat {
    font-size: 48px;
    font-weight: 600;
}


.content-collaborators {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: var(--jc-ui-border)
}

.content-collaborator p {
    transition: all 0.5s ease;
}

.content-collaborator:hover p {
    color: var(--jc-blue);
}

.content-next {
    width: 75%;
    height: auto;
    display: flex;
    padding-bottom: 80px;
    justify-content: flex-start;
}

.content-next .link-header {
    font-size: 48px;
}