.DrawersBG {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
}

.DrawersBGCircle {
    position: inherit;
    right: 84px;
    top: 74px;
    height: 103px;
    width: 103px;
}

.DrawersBGPattern {
    position: inherit;
    left: 95px;
    bottom: 82px;
    height: 180px;
    width: auto;
}