.featured {
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}

.featured-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.featured-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 1600px;
    position: relative;
}

.featured-card {
    width: 33.3%;
    height: auto;
    aspect-ratio: 4/5;
    border-radius: 40px;
    overflow: hidden;
    max-width: 50vh;
    box-shadow: 0px 0px 50px 50px var(--jc-black);
    z-index: 0;
}

.featured-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    gap: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -2;
}

.featured-info-number {
    width: 25%;
    height: auto;
}

.featured-info-number h1 {
    text-align: right;
    font-size: 48px;
}

.featured-info-line {
    width: 50%;
    height: 2px;
    background-color: var(--jc-off-white);
}

.featured-info-text {
    width: 25%;
    height: auto;
}

.featured-info-text h2 {
    margin-bottom: 10px;
}