@import url('https://fonts.googleapis.com/css?family=Urbanist:ExtraLight,ExtralightItalic,Light,LightItalic,Regular,Italic,Medium,Semibold,Bold&display=swap');

/* ------------------ Constants ------------------ */

:root {
    /* Fonts */
    --jc-font-family: 'Urbanist', helvetica, sans-serif;

    /* Colors */
    --jc-black: #000000;
    --jc-off-black: #303030;
    --jc-dark-grey: #4a4a4a;
    --jc-grey: #7f7f7f;
    --jc-light-grey: #dcdcdc;
    --jc-off-white: #ececec;
    --jc-white: #ffffff;
    --jc-blue: #4552D9;
    --jc-purple: #53229F;
    /* Breakpoints */
    --jc-breakpoint-tablet: 'max-width: 768px';
    --jc-breakpoint-mobile: 'max-width: 360px';

    /* UI */
    --jc-ui-border: 1px solid #ffffff20;
}

/* ------------------ Global CSS ------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: var(--jc-font-family);
    margin: 0;
    color: var(--jc-light-grey);
    letter-spacing: 0.035rem;
}

h1 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: 0;
    font-kerning: none;
    line-height: 1.1;
}

h2 {
    font-weight: 400;
    font-size: 32px;
    margin: 0 0 30px 0;
    letter-spacing: 0.035rem;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 5px 0;
    letter-spacing: 0.05rem;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 10px 0;
    color: var(--jc-grey);
    letter-spacing: 0.1rem;
}

p {
    font-size: 18px;
    letter-spacing: 0.05rem;
}

a {
    text-decoration: none;
    letter-spacing: .1rem;
    font-kerning: none;

}

@media (max-width: 600px) {

    h1 {
        font-weight: 600;
        font-size: 48px;
        letter-spacing: 0;
        font-kerning: none;
        line-height: 1.1;
    }

    h2 {
        font-weight: 400;
        font-size: 24px;
        margin: 0 0 30px 0;
        letter-spacing: 0.035rem;
    }
}

/* ------------------ Global Containers ------------------ */

body::-webkit-scrollbar {
    display: none;
}