.link {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    width: max-content;
}

.link-header {
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
}


.link-icon {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 58px;
    width: 58px;
    box-sizing: border-box;
}

.link-icon-border {
    position: absolute;
    box-sizing: border-box;
    border: var(--jc-ui-border);
    border-radius: 50px;
    right: 0;
    width: 100%;
    height: 58px;
    z-index: 0;
}

.link-icon-text {
    display: inline;
    padding-right: 78px;
    padding-left: 20px;
    justify-content: flex-end;
    color: var(--jc-off-white);
    font-weight: 400;
    font-size: 32px;
    width: max-content;
}

.link-icon-vector {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 58px;
    opacity: 1;
}

.link-icon-vector-horizontal {
    height: 1px;
    width: 20px;
    background-color: var(--jc-off-white);

}