.location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.location-text {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: var(--jc-off-white);
}

@media (max-width: 600px) {
    .location-text {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.02rem;
    }

}