.nav {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0px 40px;
}

.nav-title {
    color: var(--jc-light-grey);
    font-weight: 600;
    font-size: 18px;
    width: 320px;
}

.nav-social {
    gap: 30px;
    display: flex;
    justify-content: center;
    width: 320px;
}

.nav-links {
    border: var(--jc-ui-border);
    border-radius: 50px;
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 10px 30px;
}

@media (max-width: 600px) {
    .nav {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0px 20px;
    }
}