.nav {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    transition: 0.5s ease;
    pointer-events: none;
}

.nav-title {
    color: var(--jc-light-grey);
    font-weight: 800;
    font-size: 18px;
    width: auto;
    height: 41px;
    border: var(--jc-ui-border);
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-style: italic;
    position: relative;
    pointer-events: all;
    padding: 0 20px;
    transition: all 0.5s;
}

.nav-title:hover {
    background-color: var(--jc-blue);
}

.nav-button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 41px;
    width: 120px;
    box-sizing: border-box;
    pointer-events: all;
}

.nav-button-border {
    position: absolute;
    box-sizing: border-box;
    border: var(--jc-ui-border);
    border-radius: 50px;
    right: 0;
    width: 41px;
    height: 41px;
    z-index: 0;
}

.nav-button-text {
    display: flex;
    justify-content: flex-end;
    padding-right: 55px;
    color: var(--jc-off-white);
    font-weight: 400;
    font-size: 18px;
    width: fit-content;
}

.nav-button-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    width: 41px;
    opacity: 1;
}

.nav-button-icon-horizontal {
    height: 1px;
    width: 20px;
    background-color: var(--jc-off-white);

}

.nav-button-icon-vertical {
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: var(--jc-off-white);
}

/* Modal */

.nav-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    z-index: 1000;
    background-color: #00000090;
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    box-sizing: border-box;
    pointer-events: all;
}

.nav-modal-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
}

.nav-modal-contact {
    padding-top: 60px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.nav-modal-contact-header {
    padding-bottom: 30px;
    font-weight: 800;
}

.nav-modal-contact-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-modal-contact-link {
    line-height: 1;
    width: 25%;
    height: auto;
}

.nav-modal-contact-link:hover p {
    transition: color 0.5s ease;
    color: var(--jc-blue);
}

.nav-modal-contact-info {
    line-height: 1;
    width: 25%;
    height: auto;
}

@media (max-width: 800px) {

    .nav-modal-contact-header {
        padding-bottom: 0px;
        font-weight: 800;
    }

    .nav-modal-contact-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .nav-modal-contact-link {
        line-height: 1;
        width: 100%;
        height: auto;
    }

    .nav-modal-contact-info {
        line-height: 1;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .nav {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 80px;
        padding: 0px 20px;
    }

    /* Modal */

    .nav-modal {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: 1000;
        background-color: #00000090;
        opacity: 0;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px;
        box-sizing: border-box;
    }

    .nav-modal-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 100px;
        padding-bottom: 40px;
        box-sizing: border-box;
        height: 100%;
        justify-content: center;
    }
}