.showcase {
    height: 100%;
    width: 100%;
    position: relative;
}

.showcase-intro-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.showcase-intro-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    height: auto;
    gap: 40px;
    padding-top: 25vh;
    box-sizing: border-box;
}

.showcase-intro-header {
    width: 50%;
    height: auto;
    text-align: center;
}

.showcase-intro-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
}

.showcase-intro-info-projects {
    line-height: 1;
    width: 8.3%;
    height: auto;
}

.showcase-intro-info-ip {
    line-height: 1;
    width: 16.6%;
    height: auto;
}