.showcase {
    height: 100%;
    width: 100%;
    position: relative;
}

.showcase-container {
    width: 100%;
    height: 100%;
    position: inherit;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    bottom: 0;
    height: auto;
    box-sizing: border-box;
    position: relative;
    transform: translate(0px, -50%);
}

/* Header */

.showcase-header-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

.showcase-header-ui {
    font-size: 16px;
}

/* Carousel */

.showcase-carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

.showcase-carousel-cards {
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: auto;
}

.showcase-carousel-card-container {
    height: auto;
    width: 25vw;
    position: relative;
    aspect-ratio: 4/5;
    border-radius: 40px;
    max-width: 25vh;
}

.showcase-carousel-card {
    aspect-ratio: 4/5;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
    border: var(--jc-ui-border);
    box-sizing: border-box;
    perspective: 2000px;
}

/* Project */

.showcase-project-container {
    width: 100%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    position: inherit
}

.showcase-project-number {
    width: 100%;
}

/* Info */

.showcase-info-container {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0 40px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}

/* Drag Proxy */

.showcase-carousel-drag-proxy {
    visibility: hidden;
    position: absolute;
}